service-SOAP/Java/src/main/resources/trembita.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/gs/producing-web-service" xmlns:xroad="http://x-road.eu/xsd/xroad.xsd" targetNamespace="http://spring.io/guides/gs/producing-web-service">
    <wsdl:types>
        <xs:schema xmlns:tns="http://spring.io/guides/gs-producing-web-service" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">
            <xs:element name="getPersonaRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rnokpp" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPersonaListByFirstNameRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="firstName" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPersonaListByFirstNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="personaXml" type="tns:personaXml"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPersonaListByLastNameRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="lastName" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPersonaListByLastNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="personaXml" type="tns:personaXml"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPersonaListByBirthDateRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="birthDate" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPersonaListByBirthDateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="personaXml" type="tns:personaXml"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPersonaListByPasportRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="pasport" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPersonaListByPasportResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="personaXml" type="tns:personaXml"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPersonaListByUnzrRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="unzr" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPersonaListByUnzrResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="personaXml" type="tns:personaXml"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPersonaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="personaXml" type="tns:personaXml"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPersonaListRequest">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPersonaListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="personaXml" type="tns:personaXml"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addPersonaRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="firstName" type="xs:string"/>
                        <xs:element name="patronymic" type="xs:string"/>
                        <xs:element name="lastName" type="xs:string"/>
                        <xs:element name="gender" type="xs:string"/>
                        <xs:element name="birthDate" type="xs:date"/>
                        <xs:element name="rnokpp" type="xs:string"/>
                        <xs:element name="unzr" type="xs:string"/>
                        <xs:element name="pasport" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addPersonaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="answerXml" type="tns:answerXml"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updatePersonaRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="firstName" type="xs:string"/>
                        <xs:element name="patronymic" type="xs:string"/>
                        <xs:element name="lastName" type="xs:string"/>
                        <xs:element name="gender" type="xs:string"/>
                        <xs:element name="birthDate" type="xs:date"/>
                        <xs:element name="rnokpp" type="xs:string"/>
                        <xs:element name="unzr" type="xs:string"/>
                        <xs:element name="pasport" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updatePersonaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="answerXml" type="tns:answerXml"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deletePersonaRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rnokpp" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deletePersonaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="answerXml" type="tns:answerXml"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkPersonaRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rnokpp" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkPersonaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="answerXml" type="tns:answerXml"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="answerXml">
                <xs:sequence>
                    <xs:element name="status" type="xs:boolean"/>
                    <xs:element name="descr" type="xs:string"/>
                    <xs:element name="result" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="personaXml">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="firstName" type="xs:string"/>
                    <xs:element name="patronymic" type="xs:string"/>
                    <xs:element name="lastName" type="xs:string"/>
                    <xs:element name="gender" type="xs:string"/>
                    <xs:element name="age" type="xs:int"/>
                    <xs:element name="birthDate" type="xs:date"/>
                    <xs:element name="rnokpp" type="xs:string"/>
                    <xs:element name="unzr" type="xs:string"/>
                    <xs:element name="pasport" type="xs:string"/>
                    <xs:element name="isChecked" type="xs:boolean"/>
                    <xs:element name="CheckedRequest" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns="http://x-road.eu/xsd/identifiers" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" jxb:version="2.1" targetNamespace="http://x-road.eu/xsd/identifiers">
            <xs:complexType name="XRoadIdentifierType">
                <xs:annotation>
                    <xs:documentation>Globally unique identifier in the XROAD system. Identifier consists of object type specifier and list of hierarchical codes (starting with code that identifiers the XROAD instance).</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" ref="xRoadInstance"/>
                    <xs:element minOccurs="0" ref="memberClass"/>
                    <xs:element minOccurs="0" ref="memberCode"/>
                    <xs:element minOccurs="0" ref="subsystemCode"/>
                    <xs:element minOccurs="0" ref="serviceCode"/>
                    <xs:element minOccurs="0" ref="serviceVersion"/>
                </xs:sequence>
                <xs:attribute ref="objectType" use="required"/>
            </xs:complexType>
            <xs:simpleType name="XRoadObjectType">
                <xs:annotation>
                    <xs:documentation>Enumeration for XROAD identifier types.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="MEMBER"/>
                    <xs:enumeration value="SUBSYSTEM"/>
                    <xs:enumeration value="SERVICE"/>
                    <xs:enumeration value="CENTRALSERVICE"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="xRoadInstance" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Identifies the XROAD instance. This field is applicable to all identifier types.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="memberClass" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Type of the member (company, government institution, private person, etc.)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="memberCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Code that uniquely identifies a member of given member type.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="subsystemCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Code that uniquely identifies a subsystem of given XROAD member.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="serviceCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Code that uniquely identifies a service offered by given XROAD member or subsystem.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="serviceVersion" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Version of the service.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:attribute name="objectType" type="XRoadObjectType"/>
            <xs:complexType name="XRoadClientIdentifierType">
                <xs:complexContent>
                    <xs:restriction base="XRoadIdentifierType">
                        <xs:sequence>
                            <xs:element ref="xRoadInstance"/>
                            <xs:element ref="memberClass"/>
                            <xs:element ref="memberCode"/>
                            <xs:element minOccurs="0" ref="subsystemCode"/>
                        </xs:sequence>
                        <xs:attribute ref="objectType" use="required"/>
                    </xs:restriction>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="XRoadServiceIdentifierType">
                <xs:complexContent>
                    <xs:restriction base="XRoadIdentifierType">
                        <xs:sequence>
                            <xs:element ref="xRoadInstance"/>
                            <xs:element ref="memberClass"/>
                            <xs:element ref="memberCode"/>
                            <xs:element minOccurs="0" ref="subsystemCode"/>
                            <xs:element ref="serviceCode"/>
                            <xs:element minOccurs="0" ref="serviceVersion"/>
                        </xs:sequence>
                        <xs:attribute fixed="SERVICE" ref="objectType" use="required"/>
                    </xs:restriction>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns="http://x-road.eu/xsd/xroad.xsd" xmlns:id="http://x-road.eu/xsd/identifiers" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://x-road.eu/xsd/xroad.xsd">
            <xs:import namespace="http://x-road.eu/xsd/identifiers"/>
            <xs:element name="version" type="xs:string"/>
            <xs:element name="client" type="id:XRoadClientIdentifierType"/>
            <xs:element name="service" type="id:XRoadServiceIdentifierType"/>
            <xs:element name="userId" type="xs:string"/>
            <xs:element fixed="4.0" name="protocolVersion" type="xs:string"/>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="title">
                <xs:annotation>
                    <xs:documentation>Title</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string"/>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="notes">
                <xs:annotation>
                    <xs:documentation>Notes for user</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string"/>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="requestheader">
        <wsdl:part element="xroad:protocolVersion" name="protocolVersion"/>
        <wsdl:part element="xroad:id" name="id"/>
        <wsdl:part element="xroad:userId" name="userId"/>
        <wsdl:part element="xroad:service" name="service"/>
        <wsdl:part element="xroad:client" name="client"/>
    </wsdl:message>
    <wsdl:message name="getPersonaListRequest">
        <wsdl:part element="sch:getPersonaListRequest" name="getPersonaListRequest"/>
    </wsdl:message>
    <wsdl:message name="getPersonaListResponse">
        <wsdl:part element="sch:getPersonaListResponse" name="getPersonaListResponse"/>
    </wsdl:message>
    <wsdl:portType name="PersonsPort">
        <wsdl:operation name="getPersonaList">
            <wsdl:input message="tns:getPersonaListRequest" name="getPersonaListRequest"/>
            <wsdl:output message="tns:getPersonaListResponse" name="getPersonaListResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PersonsPortSoap11" type="tns:PersonsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPersonaList">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPersonaListRequest">
                <soap:body use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPersonaListResponse">
                <soap:body use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PersonsPortService">
        <wsdl:port binding="tns:PersonsPortSoap11" name="PersonsPortSoap11">
            <soap:address location="http://192.168.99.92:80/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
