client-SOAP/Java/src/main/resources/Persons.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/gs/producing-web-service" targetNamespace="http://spring.io/guides/gs/producing-web-service">
  <wsdl:types>
    <xs:schema xmlns:tns="http://spring.io/guides/gs-producing-web-service" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">


    <xs:element name="getPersonaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="rnokpp" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPersonaListByFirstNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
  <xs:element name="getPersonaListByFirstNameResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="personaXml" type="tns:personaXml"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>

    <xs:element name="getPersonaListByLastNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="lastName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

<xs:element name="getPersonaListByLastNameResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="personaXml" type="tns:personaXml"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>

    <xs:element name="getPersonaListByBirthDateRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="birthDate" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getPersonaListByBirthDateResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="personaXml" type="tns:personaXml"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>

    <xs:element name="getPersonaListByPasportRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pasport" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getPersonaListByPasportResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="personaXml" type="tns:personaXml"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>


    <xs:element name="getPersonaListByUnzrRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="unzr" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getPersonaListByUnzrResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="personaXml" type="tns:personaXml"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>


    <xs:element name="getPersonaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personaXml" type="tns:personaXml"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPersonaListRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPersonaListResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="personaXml" type="tns:personaXml"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>

    <xs:element name="addPersonaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="patronymic" type="xs:string"/>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="gender" type="xs:string"/>
                <xs:element name="birthDate" type="xs:date"/>
                <xs:element name="rnokpp" type="xs:string"/>
                <xs:element name="unzr" type="xs:string"/>
                <xs:element name="pasport" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addPersonaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answerXml" type="tns:answerXml"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updatePersonaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="patronymic" type="xs:string"/>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="gender" type="xs:string"/>
                <xs:element name="birthDate" type="xs:date"/>
                <xs:element name="rnokpp" type="xs:string"/>
                <xs:element name="unzr" type="xs:string"/>
                <xs:element name="pasport" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updatePersonaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answerXml" type="tns:answerXml"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deletePersonaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="rnokpp" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deletePersonaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answerXml" type="tns:answerXml"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="checkPersonaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="rnokpp" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="checkPersonaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answerXml" type="tns:answerXml"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="answerXml">
        <xs:sequence>
            <xs:element name="status" type="xs:boolean"/>
            <xs:element name="descr" type="xs:string"/>
            <xs:element name="result" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="personaXml">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="patronymic" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="gender" type="xs:string"/>
            <xs:element name="age" type="xs:int"/>
            <xs:element name="birthDate" type="xs:date"/>
            <xs:element name="rnokpp" type="xs:string"/>
            <xs:element name="unzr" type="xs:string"/>
            <xs:element name="pasport" type="xs:string"/>
            <xs:element name="isChecked" type="xs:boolean"/>
            <xs:element name="CheckedRequest" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="addPersonaResponse">
    <wsdl:part element="sch:addPersonaResponse" name="addPersonaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonaListByBirthDateRequest">
    <wsdl:part element="sch:getPersonaListByBirthDateRequest" name="getPersonaListByBirthDateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonaListByUnzrRequest">
    <wsdl:part element="sch:getPersonaListByUnzrRequest" name="getPersonaListByUnzrRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonaListByLastNameRequest">
    <wsdl:part element="sch:getPersonaListByLastNameRequest" name="getPersonaListByLastNameRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonaListByFirstNameRequest">
    <wsdl:part element="sch:getPersonaListByFirstNameRequest" name="getPersonaListByFirstNameRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonaListByPasportResponse">
    <wsdl:part element="sch:getPersonaListByPasportResponse" name="getPersonaListByPasportResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonaListByPasportRequest">
    <wsdl:part element="sch:getPersonaListByPasportRequest" name="getPersonaListByPasportRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonaListByFirstNameResponse">
    <wsdl:part element="sch:getPersonaListByFirstNameResponse" name="getPersonaListByFirstNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonaResponse">
    <wsdl:part element="sch:getPersonaResponse" name="getPersonaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonaListRequest">
    <wsdl:part element="sch:getPersonaListRequest" name="getPersonaListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkPersonaResponse">
    <wsdl:part element="sch:checkPersonaResponse" name="checkPersonaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkPersonaRequest">
    <wsdl:part element="sch:checkPersonaRequest" name="checkPersonaRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePersonaRequest">
    <wsdl:part element="sch:deletePersonaRequest" name="deletePersonaRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonaListByUnzrResponse">
    <wsdl:part element="sch:getPersonaListByUnzrResponse" name="getPersonaListByUnzrResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonaListByLastNameResponse">
    <wsdl:part element="sch:getPersonaListByLastNameResponse" name="getPersonaListByLastNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonaListResponse">
    <wsdl:part element="sch:getPersonaListResponse" name="getPersonaListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonaListByBirthDateResponse">
    <wsdl:part element="sch:getPersonaListByBirthDateResponse" name="getPersonaListByBirthDateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePersonaResponse">
    <wsdl:part element="sch:deletePersonaResponse" name="deletePersonaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePersonaRequest">
    <wsdl:part element="sch:updatePersonaRequest" name="updatePersonaRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonaRequest">
    <wsdl:part element="sch:getPersonaRequest" name="getPersonaRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPersonaRequest">
    <wsdl:part element="sch:addPersonaRequest" name="addPersonaRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePersonaResponse">
    <wsdl:part element="sch:updatePersonaResponse" name="updatePersonaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonsPort">
    <wsdl:operation name="addPersona">
      <wsdl:input message="tns:addPersonaRequest" name="addPersonaRequest">
    </wsdl:input>
      <wsdl:output message="tns:addPersonaResponse" name="addPersonaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonaListByBirthDate">
      <wsdl:input message="tns:getPersonaListByBirthDateRequest" name="getPersonaListByBirthDateRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPersonaListByBirthDateResponse" name="getPersonaListByBirthDateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonaListByUnzr">
      <wsdl:input message="tns:getPersonaListByUnzrRequest" name="getPersonaListByUnzrRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPersonaListByUnzrResponse" name="getPersonaListByUnzrResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonaListByLastName">
      <wsdl:input message="tns:getPersonaListByLastNameRequest" name="getPersonaListByLastNameRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPersonaListByLastNameResponse" name="getPersonaListByLastNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonaListByFirstName">
      <wsdl:input message="tns:getPersonaListByFirstNameRequest" name="getPersonaListByFirstNameRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPersonaListByFirstNameResponse" name="getPersonaListByFirstNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonaListByPasport">
      <wsdl:input message="tns:getPersonaListByPasportRequest" name="getPersonaListByPasportRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPersonaListByPasportResponse" name="getPersonaListByPasportResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersona">
      <wsdl:input message="tns:getPersonaRequest" name="getPersonaRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPersonaResponse" name="getPersonaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonaList">
      <wsdl:input message="tns:getPersonaListRequest" name="getPersonaListRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPersonaListResponse" name="getPersonaListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPersona">
      <wsdl:input message="tns:checkPersonaRequest" name="checkPersonaRequest">
    </wsdl:input>
      <wsdl:output message="tns:checkPersonaResponse" name="checkPersonaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePersona">
      <wsdl:input message="tns:deletePersonaRequest" name="deletePersonaRequest">
    </wsdl:input>
      <wsdl:output message="tns:deletePersonaResponse" name="deletePersonaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePersona">
      <wsdl:input message="tns:updatePersonaRequest" name="updatePersonaRequest">
    </wsdl:input>
      <wsdl:output message="tns:updatePersonaResponse" name="updatePersonaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonsPortSoap11" type="tns:PersonsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addPersona">
      <soap:operation soapAction=""/>
      <wsdl:input name="addPersonaRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addPersonaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonaListByBirthDate">
      <soap:operation soapAction=""/>
      <wsdl:input name="getPersonaListByBirthDateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonaListByBirthDateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonaListByUnzr">
      <soap:operation soapAction=""/>
      <wsdl:input name="getPersonaListByUnzrRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonaListByUnzrResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonaListByLastName">
      <soap:operation soapAction=""/>
      <wsdl:input name="getPersonaListByLastNameRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonaListByLastNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonaListByFirstName">
      <soap:operation soapAction=""/>
      <wsdl:input name="getPersonaListByFirstNameRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonaListByFirstNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonaListByPasport">
      <soap:operation soapAction=""/>
      <wsdl:input name="getPersonaListByPasportRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonaListByPasportResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersona">
      <soap:operation soapAction=""/>
      <wsdl:input name="getPersonaRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonaList">
      <soap:operation soapAction=""/>
      <wsdl:input name="getPersonaListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonaListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPersona">
      <soap:operation soapAction=""/>
      <wsdl:input name="checkPersonaRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkPersonaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePersona">
      <soap:operation soapAction=""/>
      <wsdl:input name="deletePersonaRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletePersonaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePersona">
      <soap:operation soapAction=""/>
      <wsdl:input name="updatePersonaRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatePersonaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonsPortService">
    <wsdl:port binding="tns:PersonsPortSoap11" name="PersonsPortSoap11">
      <soap:address location="http://10.211.55.5:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
